@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');

body {
    padding: 50px 120px;
    margin: 0%;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#main {
    display: flex;
    color: #fff;
}

#part1 {
    display: flex;
    flex-direction: column;
}

#part1a {
    display: flex;
    margin-bottom: 25px;
}

#part1b {
    display: flex;
}

#card {
    padding: 20px 35px;
    border-radius: 15px;
}

#profile {
    display: flex;
    align-items: center;
}

#profile img {
    height: 100%;
    border-radius: 50%;
    margin-right: 20px;
}

#profile h2 {
    color: hsl(0, 0%, 81%);
    font-size: 15px;
}

#profile h2 span {
    font-weight: 500;
    opacity: 0.8;
    font-size: 12px;
}

h3 {
    font-size: 14px;
    line-height: 18px;
}

p {
    opacity: 0.8;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
}

.card1 {
    background: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-color: hsl(263, 55%, 52%);
    margin-right: 25px;
    width: 400px;
}

.card2 {
    background-color: hsl(217, 19%, 35%);
    width: 180px;
    margin-right: 25px;
}

.card3 {
    background-color: hsl(0, 0%, 100%);
    color: #000;
    width: 180px;
    margin-right: 25px;
}

.card4 {
    background-color: hsl(219, 29%, 14%);
    width: 400px;
    margin-right: 25px;
}

.card5 {
    background-color: hsl(0, 0%, 100%);
    color: #000;
    width: 180px;
}

#credit {
    text-align: center;
    font-size: 12px;
    color: #7329eb;
    font-weight: 500;
    font-family: monospace;
    margin-bottom: -45px;
    margin-top: 35px;
}

#credit a {
    color: #7329eb;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

#credit a:hover {
    text-decoration: underline;
    font-style: italic;
}