body {
    margin: 0;
    padding: 0;
}
#main {
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    height: fit-content;
    padding: 50px 50px 10px 50px;
}

#template {
    height: 520px;
    width: 360px;
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
}

#image img {
    height: 50%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

#description {
    align-items: center;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    color: #444444;
    font-weight: 700;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #535151;
    font-weight: 500;
    opacity: 80%;
}

#plan {
    background-color: hsl(227, 27%, 94%);
    height: 50px;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}

#plan img {
    float: left;
    margin: auto 20px auto auto;
}

h3 {
    font-family: sans-serif;
    font-weight: 600;
    color: #444444;
    font-size: 18px;
    margin: 2.5px;
}

h3 span{
    font-family: sans-serif;
    color: #535151;
    font-weight: 500;
    opacity: 80%;
    font-size: 15px;
}

#plan a {
    float: right;
    font-size: 15px;
    margin: -32px 10px;
    color: navy;
    text-decoration: underline;
}

#plan a:hover {
    color: navy;
}

#btn {
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    padding: 15px;
    border: none;
    margin: 10px 10px 20px 28px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 2px 8px 15px #888888;
}

#cancel {
    color: #444444;
    font-family: sans-serif;
    font-weight: 600;
    opacity: 70%;
    font-size: 12px;
    text-decoration: none;
    margin: 30px 130px;
}

#credit {
    color: #000;
    font-weight: 600;
    font-size: 12px;
    margin: 60px auto 0 auto;
}

#credit a {
    color: #000;
    font-size: 15px;
}