body {
    background-color: hsl(0, 0%, 95%);
    padding-top: 50px;
}

#card-1 {
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
    border: none;
    border-radius: 10px 0 0 10px;
}

#card-2 {
    background-color: hsl(184, 100%, 22%);
    border: none;
    padding: 50px;
    border-radius: 0;
}

#card-3 {
    background-color: hsl(179, 100%, 13%);
    border: none;
    padding: 50px;
    border-radius: 0 10px 10px 0;
}

#icon {
    width: 30%;
}

#title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: hsl(0, 0%, 95%);
    font-size: 50px;
    font-weight: 700;
    margin: 40px 0;
}

#desc {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    max-width: 200px;
}

#btn {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    padding: 15px;
    border-radius: 35px;
    border: none;
    margin-top: 80px;
}

#credit {
    color: #000;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    margin-top: 28px;
}

#credit a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

#credit a:hover {
    text-decoration: underline;
    font-style: italic;
}